* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif, "(https://fonts.google.com/specimen/Rubik)";
  
}

p{
	font-size:14px;
	color:#D3D3D3;
}

.project{
	max-width:100%;
	height:100vh;
	display:block;
	padding:0 0 8% 0;
	background:hsl(270, 20%, 96%);
}

.background-design{
	width:25%;
	height:550px;
	background:linear-gradient(60deg,
	hsl(264, 100%, 61%),
	hsl(293, 100%, 63%)
	);
	position:absolute;
	border-radius:0 0 70% 120px;
}

.platform{
	max-width:100%;
	height:100vh;
        display:grid;
	grid-template-columns:auto auto;
	gap:5%;
	padding:3% 13%;
	margin:auto;
	position:relative;
	z-index:1;
}

.phone-outer{
	width:300px;
	height:500px;
	border-radius:30px;
	background:white;
	margin:auto;
	margin-top:20px;
	box-shadow:10px 10px 15px #D3D3D3;
	padding:10px;
}

.phone-inner{
	width:280px;
	height:480px;
	border-radius:20px;
	background:hsl(270, 20%, 96%);
}

.phone-top-design{
	background:white;
	width:150px;
	height:20px;
	
	border:2px solid white;
	border-radius:0px 0px 10px 10px;
	position:absolute;
	z-index:1;
	margin:0 70px;
}

/*app header styles*/
.app-header{
	width:280px;
	height:70px;
	background:linear-gradient(25deg,
	hsl(264, 100%, 61%),
	hsl(293, 100%, 63%)
	);
	border-radius:20px 20px 2px 2px;
	display: flex;
	padding:30px 20px 0 20px;
}

.app-header img{
	width:30px;
	height:30px;
	border:2px solid white;
	border-radius:50%;
	margin:0px 10px 0px 10px;
}

.app-header span{
	display:block;
	margin-top:0px;
	margin-right:60px;
}

.app-header p{
	font-size:10px;
}

.app-header h2{
	font-size:15px;
	color:white;
}

.app-header h1{
	color:#D3D3D3;
	font-size:30px;
}

.app-header h3{
	font-size:25px;
	color:#D3D3D3;
}
/*end of app header styles*/

/*chats message*/

.chat-1 p{
	background:#D3D3D3;
	width:160px;
	color:black;
	margin:5px 10px;
	font-size:10px;
	padding:9px;
	border-radius: 10px 10px 10px 0;
}

.chat-2{
	width:160px;
	float:right;
	margin:5px 10px;
}

.chat-2 span{
	display:flex;
	padding-right:10px;
	margin:0 10px 5px 0;
}

.chat-2 img{
	width:40px;
	height:40px;
	border-radius:10px;
	margin-left: 10px;
}

.chat-2 p{
	background:white;
	color:black;
	font-size:10px;
	padding:9px;
	margin:5px 10px;
	width:150px;
	border-radius: 10px 10px 0 10px;
}

.chat-3{
	width:190px;
	float:left;
}

.chat-3 p{
	background:#D3D3D3;
	color:black;
	width:155px;
	font-size:10px;
	padding:9px;
	margin:0 10px 15px 10px;
	border-radius:10px 10px 10px 0;
}

.chat-3 input{
	padding:13px 10px 0 0;
	margin: 0 5px 10px 0;
	

}

.chat-3 label{
	font-size:14px;
	margin:0px 10px 0 10px;
	padding:8px;
	background:linear-gradient(25deg,
	hsl(264, 100%, 61%),
	hsl(293, 100%, 63%));
	color:white;
	border-radius:10px 10px 10px 0;
}

.chat-3 span{
	margin-left:20px;
}

.text-message input{
	width:260px;
	border:none;
	background:#fff;
	padding-left:20px;
	height:35px;
	font-size:12px;
	border-radius:40px;
	margin:10px 10px 10px 10px;	
}

.butt-1{
	width:35px;
	height:35px;
	border-radius:50%;
	background:hsl(271, 36%, 24%);
	border:none;
	color:white;
	font-size:30px;
	position:relative;
	left:83%;
	bottom:45px;
	text-align:center;
	padding:1px;
}
/*end of chats message*/


.simple-booking{
	max-width:370px;
	margin-top:220px;
	line-height:2;
	margin:auto;
}

.simple-booking p{
	color:grey;
}

/*laptop screen*/
@media screen and (max-width:1024px){
    .project{
		height:160vh;
	}
	
	.background-design{
		width:20%;
		height:550px;
		border-radius:0 0 90% 70px;
	}

	.platform{
		padding:3% 5%;	
	}
	
	.text-message input{
		height:35px;
		margin:10px 10px 10px 10px;
	}
	
	.butt-1{
		width:35px;
		height:35px;
		font-size:35px;
		padding-bottom:40px;
		bottom:45px;
		left:79%;
	}
}


/*tablet screen*/
@media screen and (max-width:768px){
	.project{
		height:170vh;
	}
	
	.background-design{
		height: 550px;
		border-radius:0 0 90% 0;
	}

	.platform{
		padding:3% 5%;
	}
	
	/* */
	.phone-outer{
		height:550px;
	}
	
	.phone-inner{
		height:530px;
	}
	
	.text-message input{
		height:50px;
		margin:10px 10px 10px 10px;
	}
	
	.butt-1{
		width:48px;
		height:48px;
		font-size:35px;
		padding-bottom:40px;
		bottom:59px;
		left:79%;
	}
	
}


/*tablet and phone screen*/
@media screen and (max-width:636px){
	.project{
		height:135vh;
	}

	.background-design{
		width:250px;
	}

	.platform{
		display:grid;
		grid-template-columns:auto;
		padding: 8% 3%;
	}
	
	.phone-outer{
		height:550px;
	}
	
	.phone-inner{
		height:530px;
	}
	
	.text-message input{
		height:50px;
		margin:10px 10px 10px 10px;
	}
	
	.butt-1{
		width:48px;
		height:48px;
		font-size:35px;
		padding-bottom:40px;
		bottom:59px;
		left:79%;
	}

	.simple-booking{
		padding-top:100px;
		margin:auto;
		text-align:center;
	}
}

@media screen and (max-width:500px){
	.background-design{
		width:50%;
	}
	
	.phone-outer{
		height:550px;
	}
	
	.phone-inner{
		height:530px;
	}
	
	.text-message input{
		height:50px;
		margin:10px 10px 10px 10px;	
	}
	
	.butt-1{
		width:48px;
		height:48px;
		font-size:35px;
		bottom:59px;
		padding-bottom:40px;
		left:79%;
	}
}
